@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
   
}

/* shared styles */
.display-flex{
    display: flex;
}

.primary-text{
    font-size: 1.12rem;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.6);
}

  /* Header styles banner */

  .header{
    background-color:rgba(229, 84, 115, 0.1) ;
     max-width: 1920px;
     margin: 0 auto;
     align-items: center;
     padding: 0 240px;
     gap: 30px;
}
.banner{
    height: 506px;
}
.banner-title{
    height: 288px;
    width: 708px ;
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 32px;
}
.banner-img{
     max-width: 100%;
     height: auto;
    padding-top: 20px;
}
.btn-primary{
    background-color:#E55473 ;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 20px 43px;
    margin-top: 32px;
}

/* Variants flowers section styles */

.flowers-titles{
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 100px;
}
.flowers-description{
    margin-bottom: 40px;
}
.flower-img-section{
    width: 100%;
    display: flex;
    gap: 20px;
}
.flower-img-first{
    width: 100%;
     margin-left: 240px;
}
.flower-img-second{
     
}
.flower-img-third{
    margin-right:240px;
}

.about-flowers{
     text-align: center;
}
 
.flower-img-1{
   width: 464px;
   text-align: center;
}
.bg-1{
     
    text-align: center;
    width: 464px;
    height: 538px;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;

}
.bg-2{
     
    text-align: center;
   width: 464px;
    height: 538px;
    background: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;

}
.bg-3{
     
    text-align: center;
    width: 464px;
    height: 538px;
    background: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;

}
.flower-name{
    text-decoration: underline;
    
}

#flower-size{
   padding-top: 110px;   
}
#flower-size-3{
    padding-top: 67px;
}

























/* Responsive Media query added here */

@media screen and (max-width: 576px) {
      .header, .flower-img-section {
        flex-direction: column;
      }
       
      .header{
        padding: 20px 20px;
      }
      .banner{
        height:100%;
      }
      .banner-title{
        font-size: 2rem;
        height: 200px;
        width: 200px;
      }
      .banner-img{
          display: none;
      }
     .bg-1, .bg-2, .bg-3{
        width: 330px;
        margin-left:20px;
        border-right: 0;
     }
     /* #flower-size{
        width: 200px;
     } */
     .flower-name{
          width: 330px;
          padding-left: 20px;
          
     }
     .flower-img-1{
        width: 100%;
        text-align: center;
     }
     .flower-img-section, .varieties-flowers{
        width: none;
        margin-right: 0%;
     }
    .flower-img-first {
       margin-left: 0%;
    }
   
    

}